{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'topic_listing.jinja2' %}

{% from 'macros/forms.jinja2' import search_form %}
{% from 'macros/links.jinja2' import group_linked %}

{% block title %}Search results for "{{ search }}"{% endblock %}

{% block header_context_link %}
  <span class="site-header-context">
    {% if group %}
      Search in ~{{ group.path }}:
    {% else %}
      Search:
    {% endif %}
    "{{ search }}"
  </span>
{% endblock %}

{% block filter_info %}
  {% if group %}
    <div class="topic-listing-filter">
    Search results from inside {{ group_linked(group.path) }} only.
    <a href="{{ request.route_url("search", _query={"q": search}) }}">Search all groups</a>
    </div>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {{ search_form(search, group) }}

  <h2>Search results</h2>

  <p><a href="/">Back to home page</a></p>

  {% if request.user and request.user.subscriptions %}
    <div class="divider"></div>
    <ul class="nav">
      <li>Subscriptions</li>
      <ul class="nav">
      {% for subscription in request.user.subscriptions|sort(attribute='group') %}
        <li class="nav-item"><a href="/~{{ subscription.group.path }}">~{{ subscription.group.path }}</a></li>
      {% endfor %}
      </ul>
    </ul>
  {% endif %}

{% endblock %}
